{% extends "base.html" %}

{% block title %}
Monthly Stats
{% endblock %}

{% block head %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
{% endblock head %}

{% block content %}
<h2>Monthly Stats</h2>
<div class="col-md-3">
    <label for="monthFilter" class="form-label"><strong>Date</strong></label>
    <input type="text" class="form-control" id="monthFilter" name="date" placeholder="Select date" autocomplete="off" />
</div>

<table id="statsTable" class="table">
    <thead>
        <th>Date</th>
        <th>Orders</th>
        <th>Total Sales</th>
        <th>Total Margin</th>
        <th>SMM Spends</th>
        <th>Coverage</th>
        <th>Clicks</th>
        <th>DMs</th>
    </thead>
    <tbody></tbody>
</table>
{% endblock content %}

{% block scripts %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script src="{{ url_for('static', filename='js/analytics/stats.js') }}"></script>
{% endblock scripts %}