.select2-container--bootstrap-5 .select2-selection {
    min-height: calc(2.375rem + 2px);
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    background-color: #fff;
    text-overflow: ellipsis;
}

.select2-container--bootstrap-5 .select2-selection__rendered {
    line-height: 1.5;
    padding: 0;
}

.select2-container--bootstrap-5 .select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.select2-container--bootstrap-5 .select2-selection__arrow b {
    border-color: #6c757d transparent transparent transparent;
    border-style: solid;
    border-width: 0.3em 0.3em 0;
}

.select2-container--open .select2-selection__arrow b {
    transform: rotate(180deg);
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}
