{% extends "base.html" %}
{% block title %}Edit Product{% endblock title %}

{% block  head %}
	<style>
        thead th {
            position: sticky;
            top: 0;
            background: #fff;
            z-index: 10;
            box-shadow: 0 1px 0 rgba(0, 0, 0, .08);
        }

        /* Візуально відділити замовлення */
        tr.order-head td {
            background: rgba(0, 0, 0, .03);
            font-weight: 600;
        }

        tr.order-head td,
        tr.order-item td {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Edit Product</h1>
    <form method="POST" action="{{ url_for('product.edit_product', product_id=product.id) }}">
        <div class="row mb-1">
            <div class="col">
                <label for="name">Product Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <label for="cost">Cost:</label>
                <input type="number" step="0.01" class="form-control" id="cost" name="cost" value="{{ product.cost }}"
                       required>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <label for="margin">Margin (%):</label>
                <input type="number" step="0.01" class="form-control" id="marginPercent" name="marginPercent"
                       value="{{ marginPercent }}" required>
            </div>
            <div class="col">
                <label for="margin">Margin (X):</label>
                <input type="number" step="0.01" class="form-control" id="marginMultiplier" name="marginMultiplier"
                       value="{{ marginMultiplier }}" required>
            </div>
            <div class="col">
                <label for="margin">Margin (₴):</label>
                <input type="number" step="0.01" class="form-control" id="marginUAH" name="marginUAH"
                       value="{{ marginUAH }}" required>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <label for="price">Price:</label>
                <input type="number" step="0.01" class="form-control" id="price" name="price"
                       value="{{ product.price }}" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>

    <div class="mt-2">
        <h3>Orders with this product: </h3>
        <table class="table table-hover">
            <colgroup>
                <col style="width: 6%">
                <col style="width: 16%">
                <col style="width: 34%">
                <col style="width: 8%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 10%">
            </colgroup>

            <thead>
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Товар</th>
                <th>К-сть</th>
                <th>Ціна</th>
                <th>Маржа (сума)</th>
                <th>Разом (замовлення)</th>
            </tr>
            </thead>

            <tbody>
            {% for order in orders %}
                {# Рядок-заголовок замовлення #}
                <tr class="order-head" id="orderRow-{{ order.id }}">
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at.strftime('%d-%m-%Y') }}</td>
                    <td></td>
                    <td></td>
                    <td>{{ (order.total) | money_space(2) }}</td>
                    <td>
                        {{ (order.total_margin) | money_space(2) }}
                    </td>
                    <td>
                        {{ (order.total_margin + order.total) | money_space(2) }}
                    </td>
                </tr>
                {# Рядки товарів #}
                {% for item in order.items %}
                    <tr class="order-item">
                        <td></td>
                        <td></td>
                        <td>{{ item.unit_name }}</td>
                        <td>x{{ item.quantity }}</td>
                        <td>{{ (item.unit_price * item.quantity) | money_space(2) }}</td>
                        <td>{{ (item.unit_margin * item.quantity) | money_space(2) }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/product/margin_calc.js') }}"></script>
{% endblock scripts %}