{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block head %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order/add.css') }}">
{% endblock head %}

{% block content %}
    <h1>Add New Order</h1>
    <form method="post" action="{{ url_for('order.edit_order', order_id=order.id) }}">
        <div class="row">
            <div class="col-md-3">
                <label for="orderDate" class="form-label"><strong>Date</strong></label>
                <input type="text" class="form-control" id="orderDate" name="date" placeholder="Select date"
                       autocomplete="off" value="{{ order.created_at }}"/>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Margin</th>
                <th>Total Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="orderItemsBody">
            {% for item in order.items %}
                <tr class="orderItemRow">
                    <td>
                        <select name="product[]" class="form-select product-select searchable-select">
                            <option value="">Select Product</option>
                            {% for product in products %}
                                {% if item.product_id == product.id %}
                                    <option value="{{ product.id }}" data-price="{{ product.price }}"
                                            data-margin="{{ product.margin }}" selected>{{ product.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ product.id }}" data-price="{{ product.price }}"
                                            data-margin="{{ product.margin }}">{{ product.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="number" name="quantity[]" class="form-control quantity-input"
                               value="{{ item.quantity }}" min="1"></td>
                    <td><input type="number" name="unitPrice[]" class="form-control unit-price-input" step="0.01"
                               value="{{ item.unit_price }}" min="0"></td>
                    <td><input type="number" name="margin[]" class="form-control margin-input" step="0.01"
                               value="{{ item.product.margin }}"
                               min="0" disabled></td>
                    <td><input type="number" name="totalPrice[]" class="form-control total-price-input" step="0.01"
                               value="{{ item.quantity * item.unit_price }}"></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm remove-item-btn">Remove</button>
                    </td>
                </tr>
            {% endfor %}
            <tr class="orderItemRow">
                <td>
                    <select name="product[]" class="form-select product-select">
                        <option value="">Select Product</option>
                        {% for product in products %}
                            <option value="{{ product.id }}" data-price="{{ product.price }}"
                                    data-margin="{{ product.margin }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="number" name="quantity[]" class="form-control quantity-input" value="" min="1"></td>
                <td><input type="number" name="unitPrice[]" class="form-control unit-price-input" step="0.01"
                           value="0.00" min="0"></td>
                <td><input type="number" name="margin[]" class="form-control margin-input" step="0.01" value="0.00"
                           min="0" disabled></td>
                <td><input type="number" name="totalPrice[]" class="form-control total-price-input" step="0.01"
                           value="0.00"></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm remove-item-btn">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between align-items-center mt-3">
            <div><strong>Grand Total:</strong> <span id="grandTotal">0.00</span> UAH</div>
            <button type="submit" class="btn btn-primary">Submit Order</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/order/add.js') }}"></script>
    {#<script src="{{ url_for('static', filename='js/order/edit.js') }}"></script>#}
{% endblock %}